@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  margin: 0 auto;
  background-color: #000;
}

body {
  background-color: #f3faff;
}

input {
  border: solid 1px gray;
  border-radius: 0.25rem;
  padding: 3px 0 3px 3px;
}