@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  margin: 0 auto;
  background-color: #000;
}

body {
  background-color: #f3faff;
}

input {
  border: solid 1px gray;
  border-radius: 0.25rem;
  padding: 3px 0 3px 3px;
}

input[type="submit"] {
  border: 1px solid black;
  padding: 3px 10px;
  border-radius: 10px;
  box-shadow: 0 2px 1px black;
  outline: none;
}

input[type="submit"]:active {
  box-shadow: none;
  transform: translate(0, 2px);
}

.material-icons:hover {
  cursor: pointer;
  color: gray;
}